#Eventos-Anteriores {
    text-align: center;
    }
nav {
        background-color: #E83E8C !important; 
    }

.navbar-brand img{
    height: 53px;
    width: 132px;
}

.navbar-toggler {
    border-color: #ffffff;
}


.menu-container {
    padding: 8vw;
}

.productos-container h2 {
    text-align: center;
    color: #707070;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    padding-top: 70px;
}

.prod-comidas {
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 32.12px;
    padding-bottom: 32.12px;
}

.productos-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.productos-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.title-item {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 0;
    border-bottom: none;
}

.descp-item {
    padding: 0 10px 10px;
    margin: 0px;
    flex-grow: 1;
    border-bottom: 1px solid #ddd;
    border-top: none;
   
}

.descp-item-link{
    /*padding: 0 10px 10px;*/
    justify-content: left;
    align-items: left;
    display: flex;
    flex-direction: row;
}

.descp-item-link a {
    padding-left: 0px;
    margin: 5%;
}

@media (max-width: 768px) {
    .productos-container h2 {
        font-size: 40px;
    }
}

@media (max-width: 576px) {
    .productos-container h2 {
        font-size: 30px;
    }
}


/* CSS medios de pago  */

.medios-pagos-section {
    padding: 40px 0;
    background-color: #17a2b8;
}

.medios-pagos-section p {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 20px;
    color: #ffffff;
    display: block;
}

.tjtas-ico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tjtas-ico i {
    font-size: 55px;
    margin: 10px;
    color: #ffffff;
}

@media (max-width: 1200px) {
    .medios-pagos-section p,
    .tjtas-ico i {
        font-size: 45px;
    }
}

@media (max-width: 992px) {
    .medios-pagos-section p,
    .tjtas-ico i {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .medios-pagos-section p
    .tjtas-ico i {
        font-size: 35px;
    }
    .medios-pagos-sections span {
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .medios-pagos-section p
    .tjtas-ico i {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    .medios-pagos-section {
      display: none !important;
    }
  }

.nav-link {
    color: #ffffff;
}

.tjtas-ico {
    color:#ffffff;
}
/*--------------------------------------------- */

footer {
    background-color: #E83E8C !important;
}

.footer-logo {
    max-width: 202px;
    max-height: 106px;
    width: auto;
    height: auto;
  }


.medios-pagos {
    background-color: #17a2b8;
}